index.vtl

<h1>Library Management</h1>

View<a href="/titles">Books by Title</a>
View<a href="/authors">Books by Author</a>
View<a href="/catalog">Library Catalog</a>
View<a href="/patrons">Member Database</a>
